<h3>Add a new link</h3>  

<%= form_for Link.new do |f|  %>
  
  <div class="form-group">
    <%= f.text_field :title, autofocus: true, placeholder: "Title", class: "form-control" %>
  </div>
  
  <div class="form-group">
    <em><p class="url-format">Link url must begin with "http://" or "https://"</p></em>
    <%= f.text_field :url, autofocus: true, placeholder: "URL", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Create Link", class: "btn btn-primary" %>
  </div>
<% end %>
<br />