<div class="search-form">
  <input type="text" name="search" class="search-links" placeholder="Search Links"> 
</div>
<br />

<div class="form-group">
  <label class="radio-inline">
    <input type="radio" name="inlineRadioOptions" id="show-all-filter" checked="checked"> Show All
  </label>
  <label class="radio-inline">
    <input type="radio" name="inlineRadioOptions" id="show-read-filter"> Show Read
  </label>
  <label class="radio-inline">
    <input type="radio" name="inlineRadioOptions" id="show-unread-filter"> Show Unread
  </label>
</div>